body{
    font-family: Arial, Helvetica, sans-serif;
    color: aquamarine;
    text-align: center;
    box-sizing: border-box;
    font-weight: bold;
    background-color: #010725;
}
.wraptitle{
    display: inline-block;
    padding: 5px;
    color: #ff3c00;
    margin: 30px auto 10px;
    border: 1px solid white;
    width: 400px;
    border-radius: 5px;
}
.sub{
    color: #79b7ee;
    float: right;
}
.ins{
    height: 0;
    overflow: hidden;
    animation: slide 2s;
    animation-iteration-count: initial;
}
.grid{
    color: black;
    margin: 20px auto;
    border-radius: 5px;
    padding: 3px;
    border: 3px solid wheat;
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: #010103;
}
.grid div{
    border-radius: 7px;
    box-shadow: -1px -1px 2px aqua,2px 2px 2px aqua;
    width: 40px;
    height: 40px;
}
.grid .checked{
    box-shadow: inset 3px 3px 2px #070101, inset -3px -3px 2px #070101;
    background-color: coral;
}
/* .grid .bomb{
    box-shadow: inset 3px 3px 2px #491c1c, inset -3px -3px 2px #491c1c;
    background-color: #51ff00;
} */
#flagsLeft{
    color: #ff3c00;
}
#win{
    color: #ff3c00;
    border-radius: 10px;
    margin: 0px auto;
    width: 400px;
    animation: fade 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.line{
    margin-top: 50px;
    padding: 5px;
    background: linear-gradient(to right, #7f31fc, #edff47);
}
a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: underline;
    text-decoration-color: #a2eb1a;
    text-decoration-thickness: 3px;
    color: #8eff7f;
}

/* Animation */
@keyframes fade{
    from{
        background-color: #79b7ee;
    }
    to{
        background-color: crimson;
        color: #3b0f02;
    }
}