* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mobile {
    display: none;
}

@media (max-width: 980px) {
    main {
        min-height: 960px;
        min-width: 1280px;
        flex-direction: column;
    }
    .mobile{
        display: block;
        text-align: center;
    }
}

h1 {
    color: #426696;
    font-weight: 800;
    font-size: 2rem;
    opacity: 0.7;
}

h3 {
    color: #658ec6;
    font-weight: 500;
    opacity: 0.8;
}

/* h3 {
    color: #426696;
    font-weight: 600;
    opacity: 0.7;
} */

main {
    font-family: "Nunito", sans-serif;
    min-height: 100vh;
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
    display: flex;
    align-items: center;
    justify-content: center;
}

.glass {
    background: white;
    min-height: 80vh;
    width: 60%;
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.3)
    );
    border-radius: 2rem;
    backdrop-filter: blur(1.5rem);
    z-index: 2;
    display: flex;
    overflow-y: auto;
}

.circle1,
.circle2 {
    background: white;
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0.3)
    );
    width: 15rem;
    height: 15rem;
    position: absolute;
    border-radius: 50%;
}

.circle1 {
    top: 5%;
    right: 10%;
}

.circle2 {
    bottom: 5%;
    left: 10%;
}

.dashboard {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.3)
    );
    border-radius: 2rem;
}

.link img {
    width: 30px;
}

.dashboard .user img {
    border-radius: 50%;
}

.link {
    display: flex;
    margin: 5px 0rem;
    padding: 5px 5rem;
    align-items: center;
}

.link h3 {
    padding: 0rem 1rem;
}

.pro {
    color: white;
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
    border-radius: 2rem;
    padding: 1rem;
    position: relative;
}

.pro img {
    position: absolute;
    top: -10%;
    right: 5%;
    width: 100px;
}

.pro h3 {
    width: 40%;
    color: white;
    font-weight: 600;
}

.games {
    flex: 2;
    font-size: small;
}

.games img {
    width: 70px;
}

/* GAMES */

.status {
    margin-bottom: 2rem;
}

.status input {
    border: none;
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.3)
    );
    width: 50%;
    padding: 0.5rem;
    border-radius: 2rem;
}


.games {
    margin: 1rem 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.card {
    display: flex;
    background: linear-gradient(
        to left top,
        rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0.5)
    );
    border-radius: 1rem;
    margin: 1rem 0rem;
    padding: 1rem;
    box-shadow: 6px 6px 20px #1312123d;
    justify-content: space-between;
}

.progress1,
.progress2,
.progress3 {
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
    width: 100%;
    height: 25%;
    border-radius: 2rem;
    position: relative;
    overflow: hidden;
}

.progress1::after {
    content: "";
    width: 100%;
    height: 100%;
    background: #b8b5b58f;
    position: absolute;
    left: 60%;
}
.progress2::after {
    content: "";
    width: 100%;
    height: 100%;
    background: #b8b5b58f;
    position: absolute;
    left: 20%;
}
.progress3::after {
    content: "";
    width: 100%;
    height: 100%;
    background: #b8b5b58f;
    position: absolute;
    left: 50%;
}

.card-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.percentage {
    font-weight: bold;
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}