html{
    background: #bd03bd;
    box-sizing: border-box;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#sp{
    font-family: cursive;
    display: inline-block;
    margin-top: -90px;
}
#float{
    position: absolute;
    z-index: 3;
    width: 70px;
    top: 7%;
    left: 2%;
    transition: 4s;
    opacity: .8;
    animation: float 9s infinite ease-in-out;
}
#float2{
    position: absolute;
    z-index: 3;
    width: 70px;
    top: 7%;
    right: 2%;
    opacity: .8;
    animation: float2 9s infinite ease-in-out;
}
#float3{
    position: absolute;
    z-index: 3;
    width: 70px;
    bottom: 20%;
    left: 2%;
    animation: float3 9s infinite ease-in-out;
}
#float4{
    position: absolute;
    z-index: 3;
    width: 70px;
    bottom: 20%;
    right: 2%;
    animation: float4 9s infinite ease-in-out;
}
@keyframes float{
    0%{
        left: 25%; 
        top: 17%;
    }
    25%{
        left: 50%;
        top: 30%;
    }
    50%{
        left: 97%;
        top: 52%;
    }
    75%{
        right: 25%;
        top: 48%;
    }
    88%{
        right: 75%;
        top: 27%;
    }
    100%{
        top: 7%;
        left: 2%;
    }
}
@keyframes float2{
    0%{
        right: 25%; 
        top: 17%;
    }
    25%{
        right: 50%;
        top: 30%;
    }
    50%{
        right: 65%;
        top: 57%;
    }
    60%{
        left: 15%;
        top: 70%;
    }
    75%{
        left: 30%;
        top: 48%;
    }
    88%{
        left: 75%;
        top: 27%;
    }
    100%{
        top: 7%;
        right: 2%;
    }
}
@keyframes float3{
    0%{
        right: 25%; 
        bottom: 17%;
    }
    25%{
        left: 50%;
        bottom: 30%;
    }
    50%{
        right: 65%;
        bottom: 57%;
    }
    60%{
        left: 15%;
        bottom: 70%;
    }
    75%{
        left: 30%;
        bottom: 48%;
    }
    88%{
        left: 75%;
        bottom: 27%;
    }
    100%{
        bottom: 20%;
        left: 2%;
    }
}
@keyframes float4{
    0%{
        right: 25%; 
        bottom: 17%;
    }
    25%{
        right: 50%;
        bottom: 30%;
    }
    50%{
        right: 65%;
        bottom: 57%;
    }
    60%{
        left: 15%;
        bottom: 70%;
    }
    75%{
        left: 30%;
        bottom: 48%;
    }
    88%{
        left: 75%;
        bottom: 27%;
    }
    100%{
        bottom: 7%;
        right: 2%;
    }
}
#cover{
    position: absolute;
    width: 100%;
    top: 5%;
    left: 0; 
    z-index: 2;
}
#follow-up{
    display: inline-block;
    padding: 5px;
}
#follow-up img{
    width: 55%;
    height: 55%;
    padding: 3px;
}
.top{
    cursor: pointer;
    background-color: #6e0d81b9;
}
.close,
.open{
    margin: 0 auto;
    padding: 10px 0;
}
.open{
    display: none;
}
div{
    margin: 0 auto;
}
h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: normal;
    font-size: medium;
}
#contain{
    display: none;
    max-width: 95%;
    height: auto;
    background-color: #8b12a3;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 5px 4px 8px #3c0b4480, 5px 5px 8px #3c0b449d;
}
@keyframes load{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.center{
    margin: 0 auto;
}
#remain{
    font-family: fantasy, monospace;
    font-size: normal;
    font-style: italic;
}
#banner{
    padding: 10px;
    display: block;
    width: 95%;
    height: auto;
}
#imagebody{
    position: relative;
    margin-top: -30px;
    margin-bottom: 70px;
    width: 95%;
}
#image{
    width: 60%;
    height: auto;
    display: block;
    border: 2px solid #3b0b44;
}
#caption{
    font-size: small;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    padding: 2px;
    background-color: #d741f57a;
    border-radius: 20% 20% 0 0;
}
.png{
    display: inline-block;
    margin-top: -30px;   
}
.png img{
    margin-right: 4px;
    width: 15%;
}
.png img :nth-last-child(){
    margin-right: 0;
}